[package]
name = "babelfont"
version = "0.1.2-pre"
edition = "2021"
authors = ["Simon Cozens <simon@simon-cozens.org>"]
license = "MIT OR Apache-2.0"
description = "A universal font format converter and processor"
repository = "https://github.com/simoncozens/babelfont-rs"
documentation = "https://docs.rs/babelfont"
keywords = ["fonts", "typography", "font-conversion", "font-processing"]

[[bin]]
name = "babelfont"
path = "src/main.rs"
required-features = ["cli"]

[target.'cfg(not(target_family = "wasm"))'.dependencies]
uuid = { version = "1.11.0", features = ["v4", "serde"] }
[target.'cfg(target_family = "wasm")'.dependencies]
uuid = { version = "1.11.0", features = ["v4", "js", "serde"] }

[features]
default = ["glyphs", "ufo", "fontlab", "fontra", "fontir", "rayon", "types"]
glyphs = ["dep:glyphslib"]
ufo = ["dep:norad"]
fontra = []
fontlab = []
fontir = ["dep:fontir", "dep:fontc"]
cli = [
    "dep:env_logger",
    "dep:clap",
    "dep:serde_json_path_to_error",
    "dep:clap-verbosity-flag",
]
rayon = ["norad/rayon"]
types = ["dep:typeshare"]

[dependencies]
chrono = { version = "0.4.3", features = ["serde"] }
kurbo = "0.12"
glyphslib = { version = "0.2.1", optional = true }
norad = { version = "0.17.0", features = ["kurbo"], optional = true }
log = "0.4.14"
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
thiserror = "1.0.37"
regex = "1.5.5"
# Branch nonsense is temporary until fontc works with WASM better
fontdrasil = { version = "0.4.0", git = "https://github.com/googlefonts/fontc", branch = "paths-all-optional" }
fontir = { version = "0.5.0", optional = true, git = "https://github.com/googlefonts/fontc", branch = "paths-all-optional" } # Must use version fondrasil uses
fontc = { version = "0.6.0", optional = true, git = "https://github.com/googlefonts/fontc", branch = "paths-all-optional", default-features = false } # Must use version fondrasil uses
write-fonts = { version = "0.44.1", features = [
    "read",
] } # Must use version fontdrasil uses
smol_str = { version = "0.3.0", features = ["serde"] }
ordered-float = "5.1.0"
indexmap = { version = "2.12.0", features = ["serde"] }
paste = "1.0.15"
env_logger = { version = "0.11.8", optional = true }
clap = { version = "4.5.51", optional = true, features = ["derive"] }
serde_json_path_to_error = { version = "0.1.5", optional = true }
clap-verbosity-flag = { version = "3.0.4", optional = true }
fea-rs-ast = { version = "0.1.0" }
typeshare = { version = "1.0.4", optional = true }

[dev-dependencies]
pretty_assertions = "1.4.1"
rstest = "0.26.1"
similar = "2.7.0"

[build-dependencies]
roxmltree = "0.21.0"
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
