[package]
name = "babelfont"
version = "0.1.1"
edition = "2021"

[target.'cfg(not(target_family = "wasm"))'.dependencies]
uuid = { version = "1.11.0", features = ["v4", "serde"] }
[target.'cfg(target_family = "wasm")'.dependencies]
uuid = { version = "1.11.0", features = ["v4", "js"] }

[features]
default = ["glyphs", "ufo", "fontlab", "fontra", "fontir"]
glyphs = ["dep:glyphslib"]
ufo = ["dep:norad"]
fontra = []
fontlab = []
fontir = ["dep:fontir", "dep:smol_str"]

[dependencies]
chrono = { version = "0.4.3" }
kurbo = "0.12"
glyphslib = { git = "https://github.com/simoncozens/glyphslib-rs", optional = true }
norad = { version = "0.14.0", features = ["rayon", "kurbo"], optional = true }
log = "0.4.14"
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
thiserror = "1.0.37"
regex = "1.5.5"
fontdrasil = {version = "0.2.3" }
fontir = { version = "0.3.1", optional = true }
write-fonts = { version = "0.43.0" }                                           # Must use version fontdrasil uses
smol_str = { version = "0.3.0", features = ["serde"], optional = true }
ordered-float = "4.6.0"
indexmap = "2.12.0"
paste = "1.0.15"

[dev-dependencies]
pretty_assertions = "1.4.1"
similar = "2.7.0"
