[package]
name = "babelfont"
version = "0.1.1"
edition = "2021"

[[bin]]         
name = "babelfont"
path = "src/main.rs"
required-features = ["cli"]

[target.'cfg(not(target_family = "wasm"))'.dependencies]
uuid = { version = "1.11.0", features = ["v4", "serde"] }
[target.'cfg(target_family = "wasm")'.dependencies]
uuid = { version = "1.11.0", features = ["v4", "js", "serde"] }

[features]
default = ["glyphs", "ufo", "fontlab", "fontra", "fontir"]
glyphs = ["dep:glyphslib"]
ufo = ["dep:norad"]
fontra = []
fontlab = []
fontir = ["dep:fontir", "dep:fontc"]
cli = ["dep:env_logger", "dep:clap", "dep:serde_json_path_to_error", "dep:clap-verbosity-flag"]
typescript = ["dep:typescript-type-def"]

[dependencies]
chrono = { version = "0.4.3", features = ["serde"] }
kurbo = "0.12"
glyphslib = { git = "https://github.com/simoncozens/glyphslib-rs", optional = true }
norad = { version = "0.14.0", features = ["rayon", "kurbo"], optional = true }
log = "0.4.14"
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
thiserror = "1.0.37"
regex = "1.5.5"
fontdrasil = { git = "https://github.com/googlefonts/fontc.git", branch = "edit-edits" }
fontir = { version = "0.3.1", optional = true, git = "https://github.com/googlefonts/fontc.git", branch = "edit-edits" } # Must use version fondrasil uses
fontc = { version = "0.3.1", optional = true, git = "https://github.com/googlefonts/fontc.git", branch = "edit-edits" } # Must use version fondrasil uses
write-fonts = { version = "0.43.0" }                                           # Must use version fontdrasil uses
smol_str = { version = "0.3.0", features = ["serde"] }
ordered-float = "4.6.0"
indexmap = { version = "2.12.0", features = ["serde"] }
paste = "1.0.15"
env_logger = { version = "0.11.8", optional = true }
clap = { version = "4.5.51", optional = true, features = ["derive"] }
serde_json_path_to_error = { version = "0.1.5", optional = true }
clap-verbosity-flag = { version = "3.0.4", optional = true }
typescript-type-def = { version = "0.5.13", optional = true, features =["json_value"] }

[dev-dependencies]
pretty_assertions = "1.4.1"
similar = "2.7.0"
