/* Basic panel layout styles are inline in index.html; add canvas sizing */
#layersPanel .panel-body { height: 100%; }
table { width: 100%; }
table tr { text-align: left; }
table tr:nth-child(odd) { background-color: #dcdcdc91; }
table tr:nth-child(even) { background-color: #ffffff; }
#mastersList table { width: inherit; }
#mastersList li { margin-bottom: 12px; }
#mastersList table { margin: 12px; }
table  td { padding: 5px; }
